 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="android-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I am <script>document.write(new Date().getFullYear() - 1991);</script>-years old guy from Central Ukraine. Passionate in programming: I love Android platform and try to catch all the latest news about this operation system. In spare time I write web applications or read technical books.</p>
                </div>
                <div class="col-lg-4">
                    <p>I love travelling and meeting new people. Also I am engaged in small family business - Potter Questroom. I believe that my activity makes the world better place. Maybe next application written by me will change people lives.</p>
                </div>
            </div>
        </div>
    </section>