    <!-- Header -->
    <header>
        <section>
            <div class="section-background-dark">
                <ul class="section-background-slideshow parallax" data-stellar-ratio="0.4" data-speed="800" data-timeout="4000">
                    <li><img src="img/backgrounds/1.jpg" alt="" style="opacity: 0.25;"></li>
                    <li><img src="img/backgrounds/2.jpg" alt="" style="opacity: 0.25;"></li>
                    <li><img src="img/backgrounds/3.jpg" alt="" style="opacity: 0.2;"></li>
                </ul>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="intro-text">
                            <span class="name">{{ site.title }}</span>
                            <hr class="android-header">
                            <span class="skills">{{ site.skills }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </header>