body {
    margin: 0;
    padding: 0;
    font-family:  'Fira Mono',  monospace;
    font-size: 40px;
    line-height: 48px;
    color: #2b2b2b;
    background: #fff;
    scrollbar-face-color: #2b2b2b;
    -webkit-font-smoothing: antialiased;
}
::-moz-selection {
    color: #fff;
    text-shadow: none;
    background: #b7b7b7;
}
::-webkit-selection {
    color: #fff;
    text-shadow: none;
    background: #b7b7b7;
}
::selection {
    color: #fff;
    text-shadow: none;
    background: #b7b7b7;
}
.link {
	opacity: .7;
    color: #fff;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -ms-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear;
}
.link:hover, .link:active, .link:focus {
	cursor: pointer;
	margin-left: 25px;
    opacity: 0.4;
    text-decoration: none;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -ms-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear;
}
a {
    text-decoration: none;
    color: #fff;
}
a:hover, a:active, a:focus {
	text-decoration: none;
	color: #fff;
}
a:visited {
	color: #fff;
	outline: 0;
}
h2 {
    font-size: 60px;
    line-height: 64px;
}
h3 {
    font-size: 52px;
    line-height: 60px;
}
h6 {
    font-size: 32px;
    line-height: 48px;
}
.text-bold {
    font-weight: 700!important;
}
.text-white {
    color: #fff;
}
.bg-dark-black {
    background-color: #121212;
}
.marg-20-right {
    margin-right: 20px;
}
.marg-25-right {
    margin-right: 25px;
}
.marg-32-right {
    margin-right: 32px;
}
.marg-40-btm {
    margin-bottom: 40px;
}
.marg-60-top {
    margin-top: 60px;
}
.marg-60-btm {
    margin-bottom: 60px;
}
.marg-15-top {
    margin-top: 15px;
}
.marg-100-top {
    margin-top: 100px;
}
.header-caption {
    padding: 80px 0;
}
.caption-subtitle {
	opacity: .7;
    font-size: 24px;
    line-height: 20px;
    font-weight: 500;
    letter-spacing: 3px;
}
.lang {
	position: fixed; 
	right: 20px; 
	top: 10px; 
	z-index: 100; 
	cursor: pointer;
}
.lang-mobile {
    position: absolute; 
    right: 20px; 
    top: 10px; 
    z-index: 100; 
    cursor: pointer;
}
.keepall {
    word-break: keep-all;
}
.breakall {
	word-break: break-all;
}
div#fullpage {
    display: none;
}